{% load static %}
<!DOCTYPE html>
<html lang="en" class="basic">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login into account</title>
</head>

<body>
    <main class="Box">
        <a href="{% url 'home' %}" class="text-decoration-none">
            <h1 class="heading">Secretbook</h1>
        </a>
        <p class="sub-head">Only your friends know what goes on here!</p>
    </main>
    <section class="xbox">
        <div class="ed-box">
            <h2 class="heading-2">Login</h2>
        </div>
        <form method="post" class="inbox">
            {% csrf_token %}

            {% if form.non_field_errors %}
            <div class="error-msg">
                {{ form.non_field_errors }}
            </div>
            {% endif %}

            <div class="field-box">
                <label class="box-text" for="id_username">Username:</label>
                <input type="text" name="username" required id="id_username"
                    class="in-text {% if form.username.errors %}error-field{% endif %}  {% if form.non_field_errors %} error-width{% endif %}">
                {% if form.username.errors %}
                <div class="error-msg">
                    {{ form.username.errors.0 }}
                </div>
                {% endif %}
            </div>

            <div class="field-box">
                <label for="id_password" class="box-text">Enter password:</label>
                <input type="password" name="password" required id="id_password"
                    class="in-text {% if form.password.errors %}error-field{% endif %}">
                {% if form.password.errors %}
                <div class="error-msg">
                    {{ form.password.errors.0 }}
                </div>
                {% endif %}
            </div>

            <div class="field-box-2">
                <button type="submit" class="submit-btn">Login</button>
            </div>

        </form>
        <p class="link">New? <a href="/signup">Sign Up</a></p>
        <p class="link">Forgot password? <a href="/password_reset ">Request link</a></p>
    </section>
</body>

</html>