{% load static %}
<!DOCTYPE html>
<html lang="en" class="basic">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/pass_res.css' %}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Mail</title>
</head>

<body>
    <main class="Box">
        <a href="{% url 'home' %}" class="text-decoration-none">
            <h1 class="heading">Secretbook</h1>
        </a>
        <p class="sub-head"> Forgot your password? Do not worry</p>
    </main>
    <section class="xbox">
        <div class="ed-box">
            <h2 class="heading-2">Password reset</h2>
        </div>
        <form method="post" class="inbox">
            {% csrf_token %}

            {% if form.non_field_errors %}
            <div class="error-msg">
                {{ form.non_field_errors }}
            </div>
            {% endif %}

            <div class="field-box">
                <label for="id_email" class="box-text">Enter your email address:</label>
                <input type="email" name="email" required id="id_email"
                    class="in-text {% if form.email.errors %}error-field{% endif %}" placeholder="example_email@domain.com">
                {% if form.email.errors %}
                <div class="error-msg">
                    {{ form.email.errors.0 }}
                </div>
                {% endif %}
            </div>


            <div class="field-box-2">
                <button type="submit" class="submit-btn">Send mail</button>
            </div>

        </form>
        <p class="link">Remember password? <a href="/login">Log in</a></p>
    </section>
</body>

</html>