{% load static %}
<!DOCTYPE html>
<html lang="en" class="basic">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/pass_done.css' %}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password reset link</title>
</head>

<body>
    <main class="Box">
        <a href="{% url 'home' %}" class="text-decoration-none">
            <h1 class="heading">Secretbook</h1>
        </a>
        <p class="sub-head">Only your friends know what goes on here!</p>
    </main>
    <section class="xbox">
        <div class="ed-box">
            <h2 class="heading-2">Password Changed Successfully</h2>
        </div>
        <div class="inbox">
            Your password has been updated. You can now use your new password to log in.
        </div>

      <a class="field-box-2" href="{%url 'home'%}">
        <button class="submit-btn">Go to Home</button>
      </a>

    </section>
</body>

</html>