{% load static %}
<!DOCTYPE html>
<html lang="en" class="basic">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap"
  rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/pass_res_done.css' %}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Check Mail</title>
</head>

<body>
  <main class="Box">
    <a href="{% url 'home' %}" class="text-decoration-none">
      <h1 class="heading">Secretbook</h1>
    </a>
    <p class="sub-head"> Forgot your password? Do not worry</p>
  </main>
  <section class="xbox">
    <div class="ed-box">
      <h2 class="heading-2">Check Your Email</h2>
    </div>
    <div class="inbox">
      <div class="field-box">
        If you entered a registered email address, we've sent you a link to reset your password.
      </div>
      <div class="field-box">
        Didn't get it? Be sure to check your spam or junk folder.
      </div>

      <a class="field-box-2" href="{%url 'login'%}">
        <button class="submit-btn">Back to Login</button>
      </a>

    </div>
  </section>
</body>

</html>