{% load static %}
<!DOCTYPE html>
<html lang="en" class="basic">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/pass_change.css' %}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password reset link</title>
</head>

<body>
    <main class="Box">
        <a href="{% url 'home' %}" class="text-decoration-none">
            <h1 class="heading">Secretbook</h1>
        </a>
        <p class="sub-head"> Change your password here!</p>
    </main>
    <section class="xbox">
        <div class="ed-box">
            <h2 class="heading-2">Password Reset</h2>
        </div>
        <form method="post" class="inbox">
            {% csrf_token %}
            <div class="field-box">
                <div style="flex: 1">
                    <label for="id_old_password" class="box-text">Old password:</label>
                </div>
                <div style="flex: 1; width: 100%;display: flex;flex-direction: column;align-items: center;">
                    <input type="password" name="old_password" autocomplete="current-password" autofocus="" required=""
                        id="id_old_password" style="flex:1;width: 50%;font-size: 20px">
                </div>
            </div>

            </div>
            <div class="field-box-2">
                <div style="flex: 1;">
                    <label for="id_new_password1" class="box-text">New password:</label>
                </div>
                <div style="flex: 1; width: 100%;display: flex;flex-direction: column;align-items: center;">

                    <input type="password" name="new_password1" autocomplete="new-password" required=""
                        aria-describedby="id_new_password1_helptext" id="id_new_password1" style="flex:1;width: 50%;font-size: 20px">

                    <div class="helptext" id="id_new_password1_helptext">
                        <ul class="infb">
                            <li class="box-text-2">Your password can not be too similar to your other personal
                                information.
                            </li>
                            <li class="box-text-2">Your password must contain at least 8 characters.</li>
                            <li class="box-text-2">Your password can not be a commonly used password.</li>
                            <li class="box-text-2">Your password can not be entirely numeric.</li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="field-box-3">
                <div style="flex: 1;">
                    <label for="id_new_password2" class="box-text">New password confirmation:</label>
                </div>

                <div style="flex: 1; width: 100%;display: flex;flex-direction: column;align-items: center;">
                    <input type="password" name="new_password2" autocomplete="new-password" required=""
                        aria-describedby="id_new_password2_helptext" id="id_new_password2" style="flex:1;width: 50%;font-size: 20px">

                    <div class="helptext" id="id_new_password2_helptext">Enter the same password as before, for
                        verification.</div>

                </div>
            </div>
            <div class="field-box">
                <button type="submit" class="submit-btn">Change Password</button>
            </div>

        </form>

    </section>
</body>

</html>