{%load static%}
<!DOCTYPE html>
<html lang="en" class="basic">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/user_list.css' %}">
    <title>Users</title>
</head>
<body>
<main class="Out">
      <a href="{% url 'home' %}" class="text-decoration-none">
        <h1 class="heading">Secretbook</h1>
      </a>
    <div class="sub-head">Browse all registered users!</div>
    {%if users%}
    <div class="users">
        {% for user in users %}
        <div class="user">
            <div class="username">{{ user.username }}</div>
            <div class="email">{{ user.email }}</div>
        </div>
        {% endfor %}
    </div>
    {%endif%}
    <div class="image-box">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/home.svg' %}">
        </a>
    </div>
</main>
</body>
</html>
