{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>

</head>

<body>
    <nav class="{% if request.is_mobile or request.is_tablet %}navbar-1{% else %}navbar-2{% endif %}">

        <div class="no-id-1">
            <div class="no-id-2">
                <a href="{% url 'home' %}" class="text-decoration-none">
                    <h1 class="heading">Secretbook</h1>
                </a>
                <p class="sub-head">Only your friends know what goes on here!</p>
            </div>
        </div>
        <div class="user-container">
            <p class="heading">Welcome {{user.username}}!</p>
        </div>
        <div class="link-container">
            <div class="menu">
                <a class="link">Account</a>
                <div class="menubar">
                    <ul class="list">
                        <li class="line"><a href="{% url 'profile_edit' %}" class="no-id-3">Edit Profile</a></li>
                        <li class="line"><a href="{% url 'password_change' %}" class="no-id-3">Change Password</a></li>
                        <li class="line"><a href="{% url 'delete_acc' %}" class="no-id-3">Delete Account</a></li>
                    </ul>
                </div>
            </div>
            <div class="menu">
                <a href="{% url 'post_new' %}" class="no-id-4">New Post</a>
            </div>
            <div class="menu">
                <a href="{% url 'user_list' %}" class="no-id-4">All Users</a>
            </div>
            <div class="menu">
                <a href="{% url 'feed' %}" class="no-id-4">Feed</a>
            </div>
            <div class="menu-1">
                <form method="post" action="{% url 'logout' %}" class="no-id-5">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{% url 'home' %}" />
                    <button type="submit" onclick="return confirm('Are you sure you want to log out?')"
                        class="logoutbutton">Log
                        Out</button>
                </form>
            </div>
        </div>
        <div class="Menu-bar">
            <img class="hamburger" src="{% static 'images/hamburger.png' %}">
            <div class="dropdown">
                <div class="content">Account
                    <div class="menubar-2">
                        <ul class="list">
                            <li class="line-2"><a href="{% url 'profile_edit' %}" class=".no-id-3">Edit Profile</a></li>
                            <li class="line-2"><a href="{% url 'password_change' %}" class=".no-id-3">Change
                                    Password</a></li>
                            <li class="line-2"><a href="{% url 'delete_acc' %}" class=".no-id-3">Delete Account</a></li>
                        </ul>
                    </div>
                </div>
                <div class="content"> <a class="line-3" href="{% url 'post_new' %}">New Post</a></div>
                <div class="content"><a class="line-3" href="{% url 'user_list' %}">All Users</a></div>
                <div class="content"><a class="line-3" href="{% url 'feed' %}">Feed</a></div>
                <div class="content">
                    <form method="post" action="{% url 'logout' %}" class="no-id-6">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{% url 'home' %}" />
                        <button type="submit" onclick="return confirm('Are you sure you want to log out?')"
                            class="logoutbutton-2">Log
                            Out</button>
                    </form>
                </div>
            </div>
        </div>

    </nav>
    <main>
        <div class="no-id-7">
            My Posts!
        </div>

        <div class="craxy-division">
            {% if posts %}
            {% for post in posts %}

            <div class="whole-container">

                <div class="no-id-8">
                    <a href="{% url 'post_detail' pk=post.pk %}" class="post-title">
                        {{ post.title }}
                    </a>
                </div>
                <div class="post-text">
                    {{ post.text|truncatechars:100 }}

                </div>
                <div class="post-date">
                    <div>Created: {{ post.created_date|date:"F j, Y - g:i a" }}</div>
                </div>

                <a href="{% url 'post_detail' pk=post.pk %}" class="no-id-9">
                    Read More
                </a>
            </div>
            {% endfor %}
            {% else %}
            <div class="No-post" ;>
                You haven't created any posts yet.
            </div>
            {% endif %}



    </main>

</body>

</html>