{% load static %}
<!DOCTYPE html>
<html lang="en" class="basic">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap"
  rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/sign_down.css' %}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Profile</title>
</head>

<body>
  <main class="Box">
      <a href="{% url 'home' %}" class="text-decoration-none">
        <h1 class="heading">Secretbook</h1>
      </a>
    <p class="sub-head"> Only your friends know what goes on here!</p>
  </main>
  <section class="xbox">
    <div class="ed-box">
      <h2 class="heading-2">Edit profile</h2>
    </div>
    <form method="post" class="inbox">
      {% csrf_token %}
      <div class="field-box">
        <label for="id_username" class="box-text">Username:</label>
        <input type="text" name="username" value="{{form.username.value}} " required id="id_username"
          class="in-text {% if form.username.errors %}error-field{% endif %}">
        {% if form.username.errors %}
        <div class="error-msg">
          {{ form.username.errors.0 }}
        </div>
        {% endif %}

      </div>
      <div class="field-box">
        <label for="id_email" class="box-text">E-mail:</label>
        <input type="email" name="email" value="{{form.email.value}}" required id="id_email"
          class="in-text {% if form.email.errors %}error-field{% endif %}">
        {% if form.email.errors %}
        <div class="error-msg">
          {{ form.email.errors.0 }}
        </div>
        {% endif %}
      </div>
      <div class="field-box">
        <button type="submit" class="submit-btn">Update</button>
      </div>

    </form>
    <p class="link">Change of mind? <a href="/profile">Go to profile</a></p>
  </section>
</body>

</html>